<nb-layout>
    <nb-layout-header fixed>
        Income Management
    </nb-layout-header>
  
    <nb-sidebar tag="left">
        <app-menu></app-menu>
    </nb-sidebar>

    <nb-layout-column class="colored-column-warning">

        <nb-card>
            <nb-card-header><h4 class="text-center my-2 text-info">Nova Transacao</h4></nb-card-header>
            <nb-card-body>
                <div class="form-group">
                    <label class="label">De:</label>
                    <br>
                    <nb-select placeholder="Conta Saída" fullWidht>
                        <nb-option *ngFor="let banco of bancos" value="{{banco.nome}}" >{{banco.nome}}</nb-option>
                    </nb-select>
                </div>
                <div class="form-group">
                    <label class="label">Para: </label>
                    <br>
                    <nb-select placeholder="Conta Entrada" fullWidht>
                        <nb-option *ngFor="let banco of bancos" value="{{banco.nome}}" >{{banco.nome}}</nb-option>
                    </nb-select>                </div>
                <div class="form-group">
                    <input type="text" nbInput status="basic" class="form-control" placeholder="Valor">
                </div>

                <div class="row mt-4" >
                    <div class="col-md-1 mr-5">
                        <button nbButton status="basic">Voltar</button>
                    </div>
                    <div class="col">
                        <button nbButton status="success">Cadastrar</button>
                    </div>
                </div>

            </nb-card-body>
        </nb-card>

    </nb-layout-column>

  </nb-layout>