<nb-layout>
    <nb-layout-header fixed>
        Income Management
    </nb-layout-header>
  
    <nb-sidebar tag="left">
        <app-menu></app-menu>
    </nb-sidebar>

    <nb-layout-column class="colored-column-warning">

        <nb-card>
            <nb-card-header><h4 class="text-center my-2 text-info">Minhas Contas</h4></nb-card-header>
            <nb-card-body>
                <nb-card>
                    <nb-card-body *ngFor="let banco of bancos" class="m-4">
                        <div class="row">
                            <div class="col-1">
                                <p><strong>{{banco.nome}}</strong></p> 
                            </div>
                            <div class="col-3">
                                <button nbButton status="info">Ver extrato</button> 
                            </div>
                            <div class="col-4">
                                <input type="text" nbInput status="basic" class="form-control" placeholder="Valor">
                            </div>
                            <div class="col-4">
                                <button nbButton status="success">Adicionar Valor</button>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-card-body>
        </nb-card>

    </nb-layout-column>

  </nb-layout>