<nb-layout>
    <nb-layout-header fixed>
        Income Management
    </nb-layout-header>
  
    <nb-sidebar tag="left">
        <app-menu></app-menu>
    </nb-sidebar>

    <nb-layout-column class="colored-column-warning">

        <nb-card>
            <nb-card-body>

                <div class="row">
                    <div class="col-md-10 offset-md-1">
                      <h4 class="text-center">
                        Historico de Transcoes
                      </h4>
                    </div>
                    <div class="col-md-1">
                      <!-- Cadastro de cliente -->
                      <button nbButton status="success" routerLink="/transacoes"><nb-icon icon="plus-outline"></nb-icon></button>  
                    </div>
                </div>

            </nb-card-body>
        </nb-card>

    </nb-layout-column>

  </nb-layout>