<nb-layout>
    <nb-layout-header fixed>
        Income Management
    </nb-layout-header>
  
    <nb-sidebar tag="left">
        <app-menu></app-menu>
    </nb-sidebar>

    <nb-layout-column class="colored-column-warning">
        <div class="my-4">
            <input type="text" nbInput [(ngModel)] = 'nomeBanco' status="basic" placeholder="Banco">
            <button nbButton status="success" (click) = 'submitForm()' class="mx-4">Cadastrar Banco</button>
        </div>
        <nb-card status="warning" *ngFor="let banco of bancos" >
            <nb-card-header>Banco {{banco.nome}} </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-11">
                        <h5 class="text-success"> 
                            R$ {{banco.valor}}
                        </h5>
                    </div>
                    <div class="col-md-1">
                        <button nbButton status="success" ghost>
                            <nb-icon class="align-middle h-100" icon="arrow-ios-forward"></nb-icon>
                        </button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

    </nb-layout-column>

  </nb-layout>