  <nb-layout>
    <nb-layout-header fixed>
        Income Management
    </nb-layout-header>
  
    <nb-sidebar tag="left">
        <app-menu></app-menu>
    </nb-sidebar>

    <nb-layout-column class="colored-column-warning">

        <nb-card>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                      <h4 class="text-center">
                        Minhas Contas
                      </h4>
                    </div>
                </div>

                <div class="my-4">
                    <input type="text" nbInput [(ngModel)] = 'nomeBanco' status="basic" placeholder="Banco">
                    <button nbButton status="success" (click) = 'submitForm()' class="mx-4">Cadastrar Banco</button>
                </div>

                <nb-card>
                    <nb-card-body *ngFor="let banco of bancos" class="m-4">
                        <div class="row">
                            <div class="col-1">
                                <p><strong>{{banco.nome}}</strong></p> 
                            </div>
                            <div class="col-2">
                                <button nbButton status="info">Ver extrato</button> 
                            </div>
                            <div class="col-4">
                                <nb-tag-list>
                                    <nb-tag status="basic" class="align-middle h-100" appearance="filled" text="R$ {{banco.valor}}"></nb-tag>
                                </nb-tag-list>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-card-body>
        </nb-card>

    </nb-layout-column>

  </nb-layout>